html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Sriracha', cursive;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box;
}
h2{
  font-size: 4rem!important;
  font-family: 'Permanent Marker', cursive !important;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  text-align: center;
  color:#E2A50E!important;
  margin:auto;
}
h3{
  text-align: center;
  margin:auto;
}
.col{
  line-height: 55px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 6rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}
.project-text{
  background: whitesmoke;
  display: block;
  font-size: 20px;
  padding: 50px 0;
  position: relative;
  text-align: left;
}
.columnas{
  padding: 50px 0px;
}
.solution {
  background: whitesmoke;
  display: block;
  font-size: 20px;
  padding: 10px 0;
  position: relative;
  text-align: left;
}
.solution p {
  padding: 0 10%;
  line-height: 45px;
}
.button{
  background-color:#E2A50E!important;
  border: none!important;
  color: white;
  font-size: 30px!important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
  background-color: #4CAF50!important;
  color: white;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}